
@{
    ViewBag.Title = "ConsultarTratamientosInactivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="Margen"></div>
    <h5 class="m-0 font-weight-bold text-primary">Consultar Tratamientos Inactivos</h5>

    <table id="example" class="table table-bordered table-hover">
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Costo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                var disponible = item.Estado ? "Activo" : "Inactivo";
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Costo</td>
                    <td>@disponible</td>
                    <td><a href="@Url.Action("ActualizarTratamiento","Tratamiento", new { q = item.TratamientoID })"><i class="fa fa-edit"></i></a></td>
                </tr>
            }

        </tbody>
    </table>

</div>
<div class="Margen text-left">
    <a href="@Url.Action("ConsultarTratamientos", "Tratamiento")">
        <i class="fa fa-backward fa-2x"></i>
    </a>
</div>
<script src="~/Templates/js/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        var table = new DataTable('#example', {
            language: {
                url: '//cdn.datatables.net/plug-ins/2.2.2/i18n/es-ES.json',
            },
            columnDefs: [
                { "className": "dt-left", "targets": "_all" }
            ]
        });

    });

</script>


