@model IEnumerable<PetLover.Models.TratamientoModel>
@{
    ViewBag.Title = "Lista de Tratamientos";
}
<h2>Lista de Tratamientos</h2>
<p>
    @Html.ActionLink("Crear Nuevo Tratamiento", "Crear", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered">
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Costo</th>
        <th>Acciones</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Descripcion</td>
            <td>@item.Costo</td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.TratamientoID }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.TratamientoID })
            </td>
        </tr>
    }
</table>

