@model PetLover.BaseDatos.Pets
@{
    ViewBag.Title = "ActualizarMascota";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-8">

        <div class="form-container">

            <div class="Margen text-left">
                <a href="@Url.Action("ConsultarMascotas", "Pets")">
                    <i class="fa fa-backward fa-2x"></i>
                </a>
            </div>

            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Actualizar Mascota</h1>
            </div>

            @if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-warning msjCentrado">
                    @ViewBag.Mensaje
                </div>
            }

            @using (Html.BeginForm("ActualizarMascota", "Pets"))
            {
                @Html.HiddenFor(x => x.MascotaID, new { @class = "form-control form-control-user", @placeholder = "MascotaID", @Required = "true" })

                <div class="form-group">
                    @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control form-control-user", @placeholder = "Nombre Mascota", @Required = "true" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Especie, new { @class = "form-control form-control-user", @placeholder = "Especie" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Raza, new { @class = "form-control form-control-user", @placeholder = "Raza" })
                </div>
                <div class="form-group">
                    <input type="date" name="FechaNacimiento"
                           value="@(Model.FechaNacimiento.HasValue ? Model.FechaNacimiento.Value.ToString("yyyy-MM-dd") : "")"
                           class="form-control form-control-user"
                           placeholder="Fecha de nacimiento" />
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.ClienteID, new { @class = "form-control form-control-user", @placeholder = "Dueño ID" })
                </div>

                <div class="button-container center">
                    <input type="submit" class="button" value="Actualizar">
                </div>
            }
        </div>
    </div>
</div>

