@model PetLover.BaseDatos.Mascotas
@{
    ViewBag.Title = "ActualizarMascota";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-8">

        <div class="Margen"></div>
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Actualizar Mascota</h1>
        </div>

        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-warning msjCentrado">
                @ViewBag.Mensaje
            </div>
        }

        @using (Html.BeginForm("ActualizarMascota", "Mascota", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.MascotaID)
            @Html.HiddenFor(x => x.Imagen)

            <div class="form-group">
                Nombre
                @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control form-control-user", @Required = "true" })
            </div>
            <div class="form-group">
                Especie
                @Html.TextBoxFor(x => x.Especie, new { @class = "form-control form-control-user", @Required = "true" })
            </div>
            <div class="form-group">
                Raza
                @Html.TextBoxFor(x => x.Raza, new { @class = "form-control form-control-user", @Required = "true" })
            </div>
            <div class="form-group">
                Fecha de Nacimiento
                @Html.TextBoxFor(x => x.FechaNacimiento, "{0:mm/dd/yyyy}", new { @class = "form-control form-control-user", @type = "date", @Required = "true", @max = DateTime.Now.ToString("yyyy-MM-dd") })
            </div>
            <div class="form-group">
                Propietario
                @Html.DropDownListFor(x => x.IDUsuario, (IEnumerable<SelectListItem>)ViewBag.usuarioCombo, new { @class = "form-control", @Required = "true" })
            </div>
            <div class="form-group mb-4">
                <label class="form-label">Imagen de la mascota</label>
                <input type="file" class="form-control" id="ImagenMascota" name="ImagenMascota">
            </div>
            <div class="form-group text-center mb-4">
                <img src="@Model.Imagen" class="img-thumbnail"
                     style="max-width: 200px; max-height: 150px;"
                     onerror="this.src='/ImagenesMascota/default.jpg'"
                     alt="Imagen actual">
            </div>
            <div class="form-group mb-4">
                <div class="form-check form-switch">
                    @Html.CheckBoxFor(x => x.Estado, new { @class = "form-check-input", role = "switch" })
                    <label class="form-check-label">Estado</label>
                </div>
            </div>
            <div style="text-align: right; width: 200px">
                <input type="submit" class="btn btn-danger btn-user btn-block" value="Procesar">
            </div>
        }
        <div style="margin-bottom: 50px;"></div>
    </div>
</div>
<div class="Margen text-left">
    <a href="@Url.Action("ConsultarMascotas", "Mascota")">
        <i class="fa fa-backward fa-2x"></i>
    </a>
</div>

