<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PetLover</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Templates/css/generales.css" rel="stylesheet" />
    <link href="~/Templates/css/style.css" rel="stylesheet" />
</head>

@{
    var nombreUsuario = "Invitad@";

    if (Session["NombreUsuario"] != null)
    {
        nombreUsuario = Session["NombreUsuario"].ToString();
    }
}
<body class="d-flex flex-column min-vh-100">
    <header>
        <div class="row py-3 px-lg-5">
            <div class="col-lg-4">
                <a href="@Url.Action("Index","Principal")" class="navbar-brand d-none d-lg-block">
                    <h1 class="m-0 display-5 text-capitalize"><span class="text-primary">Pet</span>Lover</h1>
                </a>
            </div>
            <div class="col-lg-8 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="d-inline-flex flex-column text-center pr-3 border-right">
                        <h6>Nuestro Horario</h6>
                        <p class="m-0">8.00AM - 6.00PM</p>
                    </div>
                    <div class="d-inline-flex flex-column text-center px-3 border-right">
                        <h6>Contáctenos</h6>
                        <p class="m-0">petlovercr15@gmail.com</p>
                    </div>
                    <div class="d-inline-flex flex-column text-center pl-3">
                        <h6>Llámenos</h6>
                        <p class="m-0">+506 345 6789</p>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
            <a href="" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Safety</span>First</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    @if (Session["IdPerfilUsuario"] != null && Session["IdPerfilUsuario"].ToString() == "1")
                    {
                        <a href="@Url.Action("Index","Principal")" class="nav-item nav-link">Inicio</a>
                        <a href="@Url.Action("Nosotros","Principal")" class="nav-item nav-link">Nosotros</a>
                        <a href="@Url.Action("MascotasDashboard","Principal")" class="nav-item nav-link">MascotasDashboard</a>

                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Mantenimientos</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="@Url.Action("ConsultarUsuarios","Usuario")" class="dropdown-item">Usuarios</a>
                                <a href="@Url.Action("ConsultarMascotas","Pets")" class="dropdown-item">Mascotas</a>
                                <a href="single.html" class="dropdown-item">Blog Detail</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <a href="@Url.Action("Index","Principal")" class="nav-item nav-link">Inicio</a>
                        <a href="@Url.Action("Nosotros","Principal")" class="nav-item nav-link">Nosotros</a>
                        <a href="@Url.Action("MascotasDashboard","Principal")" class="nav-item nav-link">MascotasDashboard</a>
                    }
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @nombreUsuario
                        </a>
                        <div class="dropdown-menu dropdown-menu-right rounded-0 m-0" aria-labelledby="userDropdown">
                            @if (Session["IdPerfilUsuario"] != null)
                            {
                                <div class="dropdown-header">
                                    @("Perfil: " + Session["NombrePerfilUsuario"].ToString())
                                </div>
                            }

                            @if (Session["IdPerfilUsuario"] == null)
                            {
                                <a class="dropdown-item" href="@Url.Action("Login","Principal")">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Iniciar Sesión
                                </a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="@Url.Action("ActualizarDatos","Usuario")">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Actualizar Datos
                                </a>
                                <a class="dropdown-item" href="@Url.Action("CambiarAcceso","Usuario")">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cambiar Contraseña
                                </a>
                                <a class="dropdown-item" href="@Url.Action("Logout","Principal")">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesión
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-grow-1">
        @RenderBody()

    </main>

    <footer class="bg-dark text-white py-5 px-sm-3 px-md-5 mt-auto">
        <div class="row pt-5">
            <div class="col-lg-4 col-md-12 mb-5">
                <h1 class="mb-3 display-5 text-capitalize text-white"><span class="text-primary">Pet</span>Lover</h1>
                <p class="m-0">Siempre disponibles para cualquier urgencia médica, porque la salud de tu mascota no espera.</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Contáctenos</h5>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope mr-2"></i>PetLover@gmail.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Conocenos</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Sobre nosotros</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Nuestro Team</a>
                            <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contáctenos</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Inicia Sesión</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0" placeholder="Ingresa tu nombre" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0" placeholder="Ingresa tu Correo" required="required" />
                            </div>
                            <div>
                                <button class="btn btn-lg btn-primary btn-block border-0" type="submit">Iniciar Sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <div class="container-fluid text-white py-4 px-sm-3 px-md-5" style="background: #111111;">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">
                    &copy; <a class="text-white font-weight-bold" href="@Url.Action("Index","Principal")">PetLover</a>. Todos los derechos reservados.

                </p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Privacidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Terminos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap4.js"></script>
    <script src="~/Templates/js/jquery.min.js"></script>
</body>

</html>
